<% layout('layouts/boilerplate') %>

<div class="card" style="width: 18rem;">
  <img src="<%-param.image%>" class="card-img-top" alt="error">
  <div class="card-body">
    <h5 class="card-title"><%-param.name%></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%-param.price%></li>
    <a href="/contact" class="mt-2" >contact seller</a>

  </ul>
  <div class="card-body">
    <a href="#" class="btn btn-primary">remove</a>
    <a href="#" class="btn btn-primary">add to watch list</a>
    <div class="mt-2">
      <a href="#" class="btn btn-primary">buy now</a>

    </div>

  </div>
</div>
